# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

/src/aot


# notia
mcled_website_v3_err.log
mcled_website_v3_out.log
nohup.out

files/*
.htaccess*
templates/*.jpg
templates/*.png

etim-export-skup-V3.xml
etim-export-skup-V3AT.xml
etim-export-V3.xml
etim-export-V3AT.xml

/download
