<div class="site_subpage_content n-space-top">
    <h1 class="page_title">PROXIMA</h1>

          <p>Sparsame LED-Fluter der Reihe Proxima sind eine interessante Variante der heutigen LED-Fluter und dies dank ihres eleganten Designs und prismenförmigen Diffuser, mit denen das Licht der leistungsfähigen LED-Chips leicht zerstreut wird. LED-Fluter Proxima verfügen ebenfalls über eine recht hohe spezifische Leistung, lange Lebensdauer und breite Anwendungsmöglichkeiten. Da sie sofort mit voller Leistung leuchten, können sie auch sehr gut an einen Bewegungssensor angeschlossen werden. </p>

          <p>LED-Fluter Proxima bieten wir in kaltweißer Lichtfarbe (7500 K), weiter in Ausführung RGB, bei der die einzelne Farbe mit mitgelieferter Fernbedienung eingestellt werden kann. Zur Verfügung stehen Varianten der Leistungen 10 – 60 W mit Strahlungswinkel 120°. </p>

</div>
