<div class="site_subpage_content n-space-top">
    <h1 class="page_title">STAR</h1>
         <p>Sparsame und kompakte LED-Fluter der Reihe Star ergänzen das Portfolio der LED-Fluter der Marke McLED<sup>®</sup>. Diese LED-Leuchten zeichnen sich durch niedrigen Verbrauch, unauffällige Abmessungen, lange Lebensdauer und breite Anwendungsmöglichkeiten aus. LED-Fluter Star leuchten sofort mit voller Leistung, sind mit Marken-LED-Chips bestückt und beständig gegen häufiges Schalten. </p>
         <p>LED-Fluter Star bieten wir in warmer und kalter weißer Farbe des Lichts, Leistungen 6 – 12 W mit Strahlungswinkeln 45 und 120°. Im Angebot sind ebenfalls Varianten mit praktischem Sockel und Griff, eventuell auch mit Bewegungssensor. </p>
</div>
