<div class="site_subpage_content n-space-top">
    <h1 class="page_title">TROLL D</h1>

<p>Die sparsamen und modernen LED-Fluter inkl. Sensor Troll D gehören heute zu den beliebtesten Leuchten und sind idealer Ersatz für ältere Fluter mit Halogenleuchtmitteln. Diese LED-Leuchten zeichnen sich durch hohe spezifische Leistung, sofortiges Leuchten mit voller Leistung, lange Lebensdauer und vielfältige Anwendungsmöglichkeiten aus. LED-Fluter Troll D sind mit Marken-LED-Chips bestückt und beständig gegen häufiges Schalten. </p>

<p>LED-Fluter Troll D werden in neutraler weißer Lichtfarbe (4000 K) angeboten, die bei diesem Leuchten am gefragtesten ist. Es kann weiter aus zwei Farben der Abdeckungen (schwarz und weiß) gewählt werden. Zur Verfügung stehen sie in Leistungen 20 und 50 W mit einem Strahlungswinkel 120°. </p>

</div>
