<style>
h2 {padding-bottom: 0px};
li  {margin-left: 30px;};
</style>

<div class="site_subpage_content n-space-top n-space-bottom">
	<h1 class="page_title">Lieferkonditionen</h1>
<div class="container fluid">
<div class="block">

	<h2>Versand mit Spedition GEIS </h2>
<!--	<b>Kunden ohne individuelle B2B-Geschäftsbedingungen:</b>
		<ul>
			<li>Zustellung innerhalb Österreich € 5,90 inkl. MWSt.</li>
			<li>Kostenlose Zustellung bei Bestellung über € 50,- inkl. MWSt.</li>
		</ul>-->
<br>
		<b>Nur für Geschäftskunden:</b>
		<ul>
			<li>Versand innerhalb Österreich € 8, - ohne MWSt.</li>
			<li>Kostenlosen Versand bei Bestellung ab € 100, - ohne MWSt.</li>
		</ul>
<br>
	<h2>Lieferzeit</h2>
		<p>Lieferzeit bei Bestellung bis 10 Uhr 2-3 Werktage.</p>
<br>
	<h2>Geliefert</h2>
		<p>Die Ware wird geliefert und fakturiert von der Firma McLED s.ro. (Prag, CZ).</p>

</div>
</div>
</div>
