<div class="site_subpage_content n-space-bottom">
    <hr />
    <div class="container fluid nospace">
        <div class="row">

 <!--       <div class="col-xs-12 col-md-7 col-xl-9">

				<div class="downloads_list">
					<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756513" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            LED Scheinwerfer <small>(.pdf)</small>
                        </h2>
					</div>

						<div class="item">
                        <div class="icon">
                            <div>
                                <img src="/images/theme/files/file_pdf.png" alt="Soubor formátu PDF" />
                            </div>
                        </div>
                        <a href="/files/1756511" class="download fa_a_download" alt="LEDtube T8" name="LEDtube" target="_blank">Stáhnout</a>
                        <h2 class="filename">
                            LED Scheinwerfer - Persea und Gama <small>(.pdf)</small>
                        </h2>
                   </div>
                </div>
			</div> -->

			<div class="col-xs-12 col-md-12 col-xl-12">
<p>Sparsame und moderne Feuchtraumleuchten sind immer mehr gesuchte Alternative älterer Leuchtstofflampen. Im Vergleich mit diesen blinken aber Feuchtraumleuchten der Marke McLED<sup>®</sup> nicht, leuchten sofort mit voller Leistung, zeichnen sich durch hohe spezifische Leistung, ansprechendes Design, kompakte Abmessungen, lange Lebensdauer und breite Anwendungsmöglichkeiten aus. Feuchtraumleuchten sind mit Marken-LED-Chips mit hohem Index der Farbwiedergabe bestückt. Häufig finden sie bei der Beleuchtung von Arbeitsräumen, Lagern, Fassaden, Gängen, Garagen usw. Anwendung.</p>

<p> Feuchtraumleuchten der Reihe Comet werden in neutraler weißer Lichtfarbe (4000 K) angeboten, welche bei diesem Lampentyp am gefragtesten ist. Zur Verfügung stehen Leistungsvarianten von 10 - 60 W mit einem Strahlungswinkel bis zu 180°. Feuchtraumleuchten Comet D können verbunden und auch an Seilaufhängern, die ebenfalls in unserem Angebot sind, aufgehängt werden. </p>
            </div>

		<!-- pravá část - rozdělení na dvě části obrazovku
			<div class="col-xs-12 col-md-7 col-xl-9">

            <div class="col-xs-12 col-md-5 col-xl-3">


                <div class="product_action_sidebox nospace-left">
                    <div class="texts">
                        <h3 class="title">Akce</h3>
                        <p>
                            LED žárovka 10W, E27, 2700K, CRI 80, vyzař. úhel 270, sv. tok 840lm
                        </p>
                        <div class="price_buy">
                            <a [routerLink]="['/']" class="buy"></a>
                            <div class="prices">
                                <div class="old">4 999 Kč</div>
                                <div class="primary">3 999 Kč</div>
                                <div class="secondary">4 499 Kč bez DPH</div>
                            </div>
                        </div>
                    </div>
                    <a class="image">
                        <img src="/images/example/121.255.10_0_L.jpg" alt="" />
                    </a>
                </div>


            </div>
		-->
        </div>
    </div>
</div>
